nav.navbar.navbar-inverse()
    div.container-fluid()
        div.navbar-header()
            a.navbar-brand([routerLink]="['']") Angular-Pug
        ul.nav.navbar-nav
            li
                a([routerLink]="['employee-list']") Employee-List
            li
                a([routerLink]="['add-employee']") Add-Employee   